@font-face {
    font-family: "IBM plex mono";
    src: url(fonts/IBMPlexMono-Regular.ttf);
  }
  
  body {
    font-family: "IBM plex mono", Arial, sans-serif;
    background-color: #F6FAFC;
  }  

  
#logotype {
    width: 128px;
    height: auto;
}

.navBar {
    font-size: 24px;
    width: 100%;
}
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navBar li {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.navBar a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.navItens {
    color: #141414;
    border: none;
    padding-right: 4px;
    transition: border-width 0.3s ease;
}

.navItens:hover {
    color: #141414;
    opacity: 85%;
    border-left: 2px solid #141414;
    border-right: 2px solid #141414;
    font: bold;
}

h1 {
    text-align: center; 
 }
 
 .logar {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 }
 
 .navLogin {
    background-color: #1287ba;
    opacity: 85%;
    color: #f6fafc;
    border-radius: 4px;
 }
 
 .navLogin:hover {
    opacity: 100%;
 }

.sobre {
    display: flex;
    margin: 20px;
}
.sobre img {
    margin-top: 28px;
    width: 50%;
    height: auto;

}

.sobre p {
    padding: 28px;

}
.sobre button {
    background-color: #1287ba;
    opacity: 85%;
    color: #f6fafc;
    border-radius: 4px;
    font-size: 24px;
    height: auto;
    width: auto;
    margin-top: 16px;
    padding-left: 28px;
    padding-right: 28px;
}

.sobre button:hover {
     opacity: 100%;
}

.banner {
    display: flex;
    background-color: #1287ba;
    color: #F6FAFC;
    padding: 20px;
    width: 100%;
    gap: 16px;
}
.banner div {
    font-size: 80px;
}

.banner p {
    font-size: 28px;
}

.confira-campanhas {
    display: flex;
    gap: 64px;
}
.confira-campanhas label {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.load {
    height: 4px;
    width: 100%;
    background-color: #1287ba;
}
.unload {
    height: 4px;
    width: 100%;
    background-color: #d9d9d9;
}
